<%- include include.ejs %>
<center><h2></h2></center>
<div class="row">
<div class="col s8 offset-s2">
<ul class="collection">
 <% docs.forEach(function(data) { %>
    <li class="collection-item avatar">
    <img src="https://cdn1.iconfinder.com/data/icons/business-users/512/circle-512.png" alt="" class="circle">
      <span class="title"><%= data.first_name %> <%= data.last_name %></span>
      <p> <%= data.email %> </p><br>
      <p> <%= data.mobile %> </p>
      <a href="edit_employee/<%= data._id %>"><i class="material-icons">Edit</i></a>
      <a href="delete_employee/<%= data._id %>" style="color:red;"><i class="material-icons">Delete</i></a>
    </li>
  <% }); %>
  </ul>
</div>
</div>
